/*Base (basicStyles,animations,typography)*/

/*basicStyles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; // 10px  10/16 =62.5%
}

:root {
  /*colors*/

  --color-title: #2f4368;
  --color-background: #eaeaea;
  --color-white: #fdfdfd;
  --color-selected: #faf76b;
  --color-card: #2f4368;

  /*font-sizes*/
  --font-size-small: 1rem;
  --font-size-default: 1.6rem;
  --font-size-medium: 2rem;
  --font-size-cardName: 2.3rem;
  --font-size-big: 6rem;
}

body {
  box-sizing: border-box;
  padding: 1rem;
}

.container {
  max-width: 180rem;
  margin: 0 auto;
}

/*animations*/

/*typography*/
body {
  font-family: "Get Schwifty" sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.7;
  color: var(--color-black);
  background-color: var(--color-background);
}
.inform {
  color: var(--color-white);
  font-size: var(--font-size-medium);
  &__name {
  }
}
.heading-secondary {
  display: inline-block;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}
.heading__tirtiary {
  font-size: var(--font-size-default);
  font-weight: 700;
  text-transform: uppercase;
}

/*layout */
.header {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  &__grid {
    height: 100%;
    width: 100%;

    display: grid;
    justify-items: center;
    align-items: center;

    grid-template: repeat(2, 1fr) / repeat(auto-fill, 400px);
    grid-gap: 2rem;
  }
}
