.character-modal {
  padding: 2rem;
  width: 450px;

  &__title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  &__description-list {
    padding-left: 3.5rem;
  }
  &__description-item {
    font-size: 2.4rem;
  }
}
